@import "../../theme/index.scss"

.main
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

.theme-01
  header
    color: $white
    background-color: $theme-01-primary
  .table
    table
      thead
        tr
          color: $white
          background-color: $theme-01-secondary
  footer
    color: $white
    background-color: $theme-01-secondary
.theme-02
  header
    color: $white
    background-color: $theme-02-primary
  .table
    table
      thead
        tr
          color: $white
          background-color: $theme-02-secondary
  footer
    color: $white
    background-color: $theme-02-secondary
.theme-03
  header
    color: $white
    background-color: $theme-03-primary
  .table
    table
      thead
        tr
          color: $white
          background-color: $theme-03-secondary
  footer
    color: $white
    background-color: $theme-03-secondary
.theme-04
  header
    color: $white
    background-color: $theme-04-primary
  .table
    table
      thead
        tr
          color: $white
          background-color: $theme-04-secondary
  footer
    color: $white
    background-color: $theme-04-secondary

header
  width: 100%
  height: 4rem
  padding-left: 30px
  display: flex

  section:first-child
    width: 30%
    display: flex
    align-items: center

  section:last-child
    width: 90%
    display: flex
    justify-content: center
    align-items: center

.table
  height: 100%

  table
    width: 100%
    border-collapse: collapse

    thead
      tr

        height: 30px
        // color: #fff
        // background: #005f6b
        th
          text-align: start

        th:first-child
          padding-left: 30px

    tbody
      tr
        height: 30px

        td:first-child
          padding-left: 30px

footer
  height: 4rem
  padding-left: 30px
  // color: #fff
  // background: #005f6b
