$white: #fff;

$theme-01-primary: #008c9e;
$theme-01-secondary: #005f6b;
$theme-01-text: #000;

$theme-02-primary: #419b95;
$theme-02-secondary: #31827c;
$theme-02-text: #000;

$theme-03-primary: #09456c;
$theme-03-secondary: #23145b;
$theme-03-text: #000;

$theme-04-primary: #648a64;
$theme-04-secondary: #46685b;
$theme-04-text: #000;